@using SimpleCrm;
@model SimpleCrm.Customer
@{
}


<h1>Create</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName)
    </div>
    <div>
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName)
    </div>
    <div>
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber)
    </div>
    <div>
       Receive News Letter @Html.CheckBoxFor(x => x.OptInNewsletter)
    </div>
    <div>
        @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList(typeof(CustomerType)))
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
}
