@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>

<table>
    <thead>
        <tr>
            <td>Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone Number</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    <a asp-action="details" asp-controller="Home" asp-route-id="@customer.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a>

                    @Html.ActionLink("View", nameof(HomeController.Details), new { id = customer.Id })
                </td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Home">Create</a>

@section Footer{
    <p>
        @Model.CurrentMessage
    </p>
}